body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  max-width: 600px;
  font-weight: 600;
  padding: 15px 25px;
  border: none;
  border-radius: 12px;
  background-color: #333;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

.quote {
  font-size: 28px;
  margin-bottom: 30px;
}

.author {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
